In [ ]:

for i in range(1, 51, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [ ]:
for numero in range(1, 41, 3):
  print(numero)

1
4
7
10
13
16
19
22
25
28
31
34
37
40

In [ ]:

for numero in range(0, 31, 2):
  if numero != 10 and numero != 20 and numero != 30:
    print(numero)

0
2
4
6
8
12
14
16
18
22
24
26
28